.documentBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-container{
    display: flex;
    gap: 50px;
    height: calc(100vh - 170px);
    width: 100%;
    margin-top: 30px;
}

.gnai-header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 80px;
  text-align: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  width:calc( 100% );
  padding: 20px;
  border-left: solid 1px #E4E7ED;
  border-bottom: solid 1px #E4E7ED;

}

.document-container{
    background-color: white;
    box-shadow: 0px 0px 20px 0px #0000001d;
    width: 100%;
    height: 100%;
    min-width: 500px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

.document-container::-webkit-scrollbar{
    display: none;
}

.document-table-header{
  border: 1px solid rgba(245, 245, 245, 1);
  padding: 20px 18px !important;

}

.document-table-header p{
  font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: rgba(159, 159, 159, 1);

}

.date-range input[type="date"]{
    width: 100%;
    background: white;
    box-shadow: 1px 1px 6px 1px #0000001d;
    border-radius: 11px;
    border: none;
    outline: none;

}

.filter-container{
    background-color: white;
    box-shadow: 0px 0px 20px 0px #0000001d;
    overflow: scroll;
    overflow-x: hidden;
    width: 20%;
    min-width: 300px;
    height: 100%;
    border-radius: 10px;
}

.document-search-container input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    color: gray;
    background-color: white;
    /* background-image: url('../../icons/search.svg');
    background-position: 0px 0px;  */
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    border-radius: 12px;

  }

  .document-search-container input[type=text]:focus{
    outline: none;
  
  }
.document-search{
  width: 100%;
  border-radius: 12px;

}

  .document-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    /* height: 100px; */
  }

  .document-search-container{
    border: 0.5px solid rgba(159, 159, 159, 1);
    width: 70%;
    display: flex;
    padding: 0px 22px;
  
    border-radius: 12px;
  }

  .document-item-row{
    display: flex;
    /* gap: 1.8vw; */
    width: 232px;
    align-items: center;
    justify-content: space-between;

  }


  .document-title{
    width: calc(100% - 400px);
  }
  .document-text{
    font-size: 14px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    ;

  }
  .document-text:hover{
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
    cursor: pointer;
  }


.doc-filter{
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  }
  
  .gnai-container{
    position: fixed;
    bottom: 0;
    right: 0;
    align-items: end;
    text-align: end;
    margin: 20px;
  }

  .chatbox-container{
    height: 70vh;
    border-radius: 10px;
    width: 35vw;
    box-shadow:  0px 0px 20px 0px #0000001d;
    background-color: white;
  }

  .gnai-body{
    align-content: end;
  }


  .chatbox-chat-container{
    height: calc(100% - 80px);
    overflow: scroll;
    overflow-x: hidden;
  }
  .chatbox-input-container input{
    width: 100%;
    height: 40px;
    border-radius: 11px;
    border: none;
    outline: none;
    padding: 10px;
  }
  .chatbox-chat-container input:focus{
    outline: none;
  }
  .chatbox-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin:0px 10px;
    height: 60px;
    border-radius: 11px;
    box-shadow: 1px 1px 6px 1px #0000001d;

  }

  .typing-loader{
    margin: 20px auto;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -webkit-animation: line 1s linear infinite alternate;
   -moz-animation: line 1s linear infinite alternate;
   animation: line 1s linear infinite alternate;
}

.document-filter  span.css-1u9des2-indicatorSeparator{
  display: none;
}
.document-filter .css-dqemos-ValueContainer{
  font-size: 14px;
  font-weight: 400;
  color: var(--tw-bg-opacity);
  line-height: 14.4px;
  text-align: left;

}

.document-filter svg.css-tj5bde-Svg{
  color: rgba(241, 147, 92, 1);
}

@-webkit-keyframes line{
    0%{
        background-color: rgba(255, 124, 4, var(--tw-bg-opacity)); /* orange */
        box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 0.2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 0.2);
                    
      }
    25%{ 
            background-color: rgba(255, 124, 4, 0.4); /* lighter orange */
            box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 0.2);
                    
    }
    75%{ 
        background-color: rgba(255, 124, 4, 0.4); /* lighter orange */
        box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 0.2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 2);
                   
      }
}

@-moz-keyframes line{
    0%{
        background-color: rgba(255, 124, 4, var(--tw-bg-opacity)); /* orange */
        box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 0.2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 0.2);
                    
      }
    25%{ 
            background-color: rgba(255, 124, 4, 0.4); /* lighter orange */
            box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 0.2);
                    
    }
    75%{ 
        background-color: rgba(255, 124, 4, 0.4); /* lighter orange */
        box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 0.2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 2);
                   
      }
}

@keyframes line{
    0%{
        background-color: rgba(255, 124, 4, var(--tw-bg-opacity)); /* orange */
        box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 0.2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 0.2);
                    
      }
    25%{ 
            background-color: rgba(255, 124, 4, 0.4); /* lighter orange */
            box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 0.2);
                    
    }
    75%{ 
        background-color: rgba(255, 124, 4, 0.4); /* lighter orange */
        box-shadow: 12px 0px 0px 0px rgba(255, 124, 4, 0.2), 
                    24px 0px 0px 0px rgba(255, 124, 4, 2);
                   
      }
}
