.marketMonitorkingBody{
    height: 88vh;
    padding: 20px;
    padding-top: 15px;
}

/* .filters{
    width: 10vw;
    margin-top: 40px;
} */

.searchSelect{
    width: 30%;
}

.dateSelect{
    width: 147px;
}
.filter-item{
    margin-bottom: 0.25vw;
    padding: 0.25vw;
    width: 100%;
    border-radius:4px;
    text-align: center;
    font-size: 0.85vw;
    background-color: whitesmoke;
}

.activeFilter{
    background-color: #F1935C;
    color: white;
}
