.marketMonitorkingBody{
    height: 88vh;
    padding: 20px;
    padding-top: 15px;
}

/* .filters{
    width: 10vw;
    margin-top: 40px;
} */

.searchSelect{
    width: 30%;
}

.dateSelect{
    width: 159px;
}
