.marketMonitorkingBody{
    height: 88vh;
    padding: 20px;
    padding-top: 15px;
}

/* .filters{
    width: 10vw;
    margin-top: 40px;
} */

.searchSelect{
    /* width: 30%; */
}

.dateSelect{
    min-width: 169px;
}

.markeMonitoring-chart-container{
    height: 100%;
    width: 100%;
    /* padding: 32px; */
}

.markeMonitoring-chart{
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}