.exchangeChart{
    height: 26vh;
}

.byExchange{
    height: 38vh;
}

.realTimeChart{
    height: 60vh;
    width: 80vw;
    align-items: center;
}

/* .onechart-container{
    overflow: scroll;
    overflow-x: scroll;
    align-items: start;
    text-align: start;

    height: 60vh;


} */
