@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Bold.eot");
  src: local("Marsden Wide Bold"), local("Marsden-W-Bold"),
    url("./fonts/Marsden-W-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Bold.woff2") format("woff2"),
    url("./fonts/Marsden-W-Bold.woff") format("woff"),
    url("./fonts/Marsden-W-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Black.eot");
  src: local("Marsden Wide Black"), local("Marsden-W-Black"),
    url("./fonts/Marsden-W-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Black.woff2") format("woff2"),
    url("./fonts/Marsden-W-Black.woff") format("woff"),
    url("./fonts/Marsden-W-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Medium.eot");
  src: local("Marsden Wide Medium"), local("Marsden-W-Medium"),
    url("./fonts/Marsden-W-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Medium.woff2") format("woff2"),
    url("./fonts/Marsden-W-Medium.woff") format("woff"),
    url("./fonts/Marsden-W-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Light.eot");
  src: local("Marsden Wide Light"), local("Marsden-W-Light"),
    url("./fonts/Marsden-W-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Light.woff2") format("woff2"),
    url("./fonts/Marsden-W-Light.woff") format("woff"),
    url("./fonts/Marsden-W-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Regular.eot");
  src: local("Marsden Wide"), local("Marsden-W-Regular"),
    url("./fonts/Marsden-W-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Regular.woff2") format("woff2"),
    url("./fonts/Marsden-W-Regular.woff") format("woff"),
    url("./fonts/Marsden-W-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Heavy.eot");
  src: local("Marsden Wide Heavy"), local("Marsden-W-Heavy"),
    url("./fonts/Marsden-W-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Heavy.woff2") format("woff2"),
    url("./fonts/Marsden-W-Heavy.woff") format("woff"),
    url("./fonts/Marsden-W-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marsden Wide";
  src: url("./fonts/Marsden-W-Thin.eot");
  src: local("Marsden Wide Thin"), local("Marsden-W-Thin"),
    url("./fonts/Marsden-W-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Marsden-W-Thin.woff2") format("woff2"),
    url("./fonts/Marsden-W-Thin.woff") format("woff"),
    url("./fonts/Marsden-W-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}




:root {
  --primary: #F1935C;
  --secondary: #34656D;
  --border: #333333;
  --white:#FFFFFF;
  --primary-grey:#E4E7ED;
  --secondary-grey:#DEDFDF;
  --teritary-grey:#9F9F9F;
  --accent-grey:#F5F5F5;
  --primary-accent:#FFE2D2;
  --background: #F5F7FA;    
}

h1{
  font-size: 24px;
  font-weight: 500;
}
h2{
  font-size: 16px;
  font-weight: 400;
}
body{
  font-family: "Marsden Wide";
  font-weight: normal;
  font-size: 16px;  
}


.whiteIcon{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(36deg) brightness(110%) contrast(97%);
}
.blackIcon{
    filter:  invert(0%) sepia(95%) saturate(20%) hue-rotate(39deg) brightness(93%) contrast(107%);
}

.icon{
    stroke-width: 3.13px;
}
.icon-bolf{
    stroke-width: 4px;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.tab{
  padding: 7px 16px;
  font-size: 16px;
  cursor: pointer;
  color: #9F9F9F;
  border: solid 0.5px #F1935C;
}
.tab-small{
  padding: 5px 16px;
  font-size: 12px;
  color: #9F9F9F;
  cursor: pointer;
  border: solid 0.5px #F1935C;
  background-color: white;

}
.tab-active{

  color: white;
  background-color: #F1935C;
}
.tab-right{
  border-radius: 0px 8px 8px 0px;
}
.tab-left{
  border-radius: 8px 0px 0px 8px;
}
.tabs{
  display: flex;
}

.legend-item{
  border: solid 1px #9F9F9F;
  padding: 2px 16px;
  font-size: 16px;  
  fill: white;
  background-color: white;

  align-items: center;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}

.legend-item p{
  display: flex;
  
  gap: 5px;
  align-items: center;
}


.legend-item-right{
  border-radius: 0px 8px 8px 0px;
}
.legend-item-left{
  border-radius: 8px 0px 0px 8px;
}

  .btn {
    /* border: 2px; */
    border-radius: 10px 10px 10px 10px;
    background: #333;
    color: #ffffff!important;
    font-size: 15px;
    display: inline-block;
    min-width: 150px;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
    }
  .btn-active{
    background-color: #fd7e14;
    color: #ffffff!important;
  }
  
  .btn-small{
    border-radius: 15px 15px 15px 15px;
    min-width: 100px;
    font-size: 12px;
    display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding: 0.275rem 0.55rem;
      line-height: 1.5;
    
  }
    
  .btn-primary:hover{
    background-color:#fd7e14
  }


.content {
    display: block;
    overflow: auto;
    width: calc(100% - 141px);
    height: calc(100%);
    padding: 10px;
  }

body{
    background-color: #F5F7FA!important;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


.center-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.full-frame{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chart-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.swal-button{
    background-color: #FF7C04!important;
    


}

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar{
  width: 8px;
background-color: #F1935C;
}



::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F1935C;
}