.consumptionFilters{
    overflow: scroll;
    max-height: 90vh;
    margin-top: 10px;
    height: 90vh;
}

.ConsumptionChart{
    height: 38vh;
    
}

.OutageChart{
    height: 86vh;
}

.consumptionButtons{
    height: 35px;
}

.consumptionTitle{
    font-size: 2vw;
}

.dateSelection{
    width: 305px;
}

.consumptionButtons.btn{
    display: none!important;
}
