.consumptionFilters{
    overflow: scroll;
    max-height: 90vh;
    margin-top: 10px;
    height: 90vh;
}

.ConsumptionChart{
    height: 38vh;
    
}

.OutageChart{
    height: 86vh;
}

.consumptionButtons{
    height: 35px;
}

.consumptionTitle{
    font-size: 1.8vw;
}

.dateSelection{
    width: 305px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle  ;
    align-items: center;   /* <---- NEW    */

    text-align: center;
    }

.consumptionButtons.btn{
    display: none!important;
}

.consumptionButton{
    min-width: 100px!important;

}