.recharts-default-tooltip {
    font-size: 12px;
    padding: 4px!important;
    font-weight: 550;
}
li.recharts-tooltip-item {
    padding: 1px!important;
}

.byExchangeChart{
    display: flex;
    height: 40vh;
}

ul.recharts-default-legend {
    margin-bottom: 10px!important;
}

.buyerVsSeller{
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    width: calc(100% - 70px);
    height: calc(100vh - 120px);
}

.buyerVsSellerChart{
    width: 100%;
    height: calc(100vh - 100px);
}