.recharts-default-tooltip {
    font-size: 12px;
    padding: 4px!important;
    font-weight: 550;
}
li.recharts-tooltip-item {
    padding: 1px!important;
}

.byExchangeChart{
    display: flex;
    height: 40vh;
}

ul.recharts-default-legend {
    margin-bottom: 10px!important;
}

.buyerVsSeller{
    margin-top: 10px;
    margin-left: 10px;
    /* align-items: center; */
    width: calc(100% - 70px);
    height: calc(100vh - 130px);
}

.buyerVsSellerChart{
    width: 100%;
    overflow-x: hidden;

    /* max-height: calc(100vh - 120px); */
    height: calc(500vh);

}

.buyersellerCharts{
    max-height: calc(65vh - 140px);
    overflow-x: hidden;

}

.buyersellerCharts::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.buyersellerCharts::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F1935C;
}